.git
.git/
.git/*
.git/**
Dockerfile
docker-compose.yml
*.md
*.pyc
*.pyo
server/mlruns
server/mlruns/
server/mlruns/*
server/mlruns/**
server/__pycache__
server/__pycache__/
server/__pycache__/*
server/__pycache__/**
